<p id="notice"><%= notice %></p>

<p>
  <strong>Truck mode:</strong>
  <%= @track.truck_mode %>
</p>

<p>
  <strong>Judge:</strong>
  <%= @track.judge %>
</p>

<p>
  <strong>Time:</strong>
  <%= @track.time %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @track.speed %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
