<%= form_with(model: handler, local: true) do |form| %>
  <% if handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(handler.errors.count, "error") %> prohibited this handler from being saved:</h2>

      <ul>
      <% handler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
